@charset "UTF-8";

* {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.menu-horizontal {
    list-style: none;
}

.menu-horizontal li {
    display: inline;
}

.menu-horizontal li a {
    padding: 20px;
    text-decoration: none;
    display: inline-block;
}

img {
    width: 400px;
}

body {
    height: 00vh;
    width: 100vh;
    margin: 0px auto 0px auto;
}

main {
    display: flex;
    align-items: center;
}

.container {
    padding: 70px;
}

.imagen {
    padding: 30px;
}

.minhas-paginas {    
    margin: 20px;
    padding: 5px;
}

.minhas-paginas a {
    border: solid 1px white;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: white;
    transition: 0,9s;
}

h1, h2 {
    margin: 20px 0px 20px 0px;
}

